{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">
	{{>heading title="Товари"  info="Компютери та ноутбуки/Компютери, неттопи, моноблоки"}}
    <div class="product-list">
	{{> purchase-product data=data}}
	{{> purchase-product data=data}}
	{{> purchase-product data=data}}

</div>
</main>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}